* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  transition: ease all .3s;
}

body {
  background-color: #b0c8d7;
}

.form-wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #81a7c0
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.fav-btn {
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 1.25em;
  padding: 5px;
  outline: none;
  &:hover {
    background-color: #efd6aa;
    cursor: pointer;
  }
}